<!-- if (typeof window !== 'undefined') {
  // code here will only be executed on the client-side
} -->
<% layout('/layouts/Boilerplate') %>
<div class="row">
  <h1 class="text-center">New villa</h1>
  <div class="col-6 offset-3">
    <form action="/villas" method="POST" class="validate_form" novalidate>
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="villa[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="villa[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="Image">Image url </label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="villa[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>


      <button class="btn btn-success">Add villa</button>
    </form>
    <a href="/villas">All villas</a>
  </div>
</div>


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".validate_form");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>