<% layout('/layouts/Boilerplate') %>
<h1>All villas</h1>
<div>
  <a href="/villas/new">Add a new villa</a>
</div>

<% for(let villa of villas){ %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="<%= villa.image %>" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= villa.title %></h5>
        <p class="card-text"> <small class="text-muted"><%= villa.location %></small></p>
        <a href="/villas/<%=villa._id %>" class="btn btn-primary">view</a>
    
      </div>
    </div>
  </div>
</div>

<% } %> >
